body
{
    background:url(/pexels-justin-hamilton-92248.jpg); 
     background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}
.big
{
    height: 100vh;
    color: black;
    font-family:fantasy;
    text-align: center;
    justify-content: center;
    align-items: center;
     display: flex;
     font-size: 30px;
     -webkit-text-stroke: 1px rgb(191, 250, 254);
    
}
.btnone
{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  border-color:black;
  color:  rgb(170, 243, 249);
}

.btnone:hover{
    cursor: pointer;
    background:rgb(170, 243, 249) ;
    border-color: rgb(170, 243, 249);
    color: black;
    -webkit-text-stroke: 1px black;
}
.btntwo
{
    cursor: pointer;
    background:rgb(170, 243, 249) ;
    border-color: rgb(170, 243, 249);
    color: black;
    -webkit-text-stroke: 1px black;
    display: block;
    margin-left: 38%;
    margin-top: 20px;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.5px;
}
.btntwo:hover{
    cursor: pointer;
    background-color: black;
  border-color:black;
  color:  rgb(170, 243, 249);
}
.btnthree
{
    cursor: pointer;
    background:rgb(170, 243, 249) ;
    border-color: rgb(170, 243, 249);
    color: black;
    -webkit-text-stroke: 1px black;
    display: block;
    margin-left: 39.5%;
    margin-top: 20px;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.5px;
}
.btnthree:hover{
    cursor: pointer;
    background-color: black;
  border-color:black;
  color:  rgb(170, 243, 249);
}
